In [1]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd

In [2]:
os.listdir()

['Tesla_sentiment_NYT.ipynb',
 'NYT_sentiment_Tesla.ipynb',
 '.DS_Store',
 'NYT_sentimentTesla.ipynb',
 'NYT_sentiment_Apple.ipynb',
 'Apple_sentiment_NYT.ipynb',
 'NYT_sentiment_Microsoft.ipynb',
 'AppleSentimentMonths.pickle',
 'FinTechHomework',
 'NYT_sentimentMicrosoft.ipynb',
 '.env',
 'AppleSentiment.pickle',
 '05-Stu_Correlating_Returns',
 'TeslaSentiment.pickle',
 '.ipynb_checkpoints',
 'NYT_sentimentAMD.ipynb',
 'Microsoft_sentiment_NYT.ipynb',
 'choice_df.csv',
 'MicrosoftSentiment.pickle']

In [3]:
load_dotenv()

True

In [4]:
NYT_API=os.getenv('NYT_API')

In [5]:
topic='Microsoft'
url=f'https://api.nytimes.com/svc/search/v2/articlesearch.json?q={topic}&api-key={NYT_API}'
response=requests.get(url)
data=response.json()['response']['docs'][0]

In [6]:
junb= '20190601'
june= '20190630'
julb= '20190701'
jule= '20190731'
augb= '20190801'
auge= '20190830'
sepb= '20190901'
sepe= '20190930'
octb= '20191001'
octe= '20191031'
novb= '20191101'
nove= '20191130'
decb= '20191201'
dece= '20191231'

In [7]:
def getHeadlines(start,end):
    headlines=[]
    i=1
    max_results=100
    topic='Microsoft'
    # begin_date=20120101&end_date=20121231
    beg_date=start
    end_date=end
    for n in range(1, int(max_results/10)): 
        url=f'https://api.nytimes.com/svc/search/v2/articlesearch.json?q={topic}&api-key={NYT_API}&page={n}&begin_date={beg_date}&end_date={end_date}'
        response=requests.get(url)
        data=response.json()
        article_list=data['response']['docs']
        for each_article in article_list: 
            article_dict={}
            article_dict['item']=i
            article_dict['headline']=each_article['headline']['main']
            article_dict['pub_date']=each_article['pub_date']
            headlines.append(article_dict)
            i=i+1
    df = pd.DataFrame(headlines)
    return df

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Instantiate SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

# Create function that computes average compound sentiment of headlines for each day
def headline_sentiment_summarizer_avg(headlines):
    # print(headlines)
    sentiment_by_word=[]
    sentiment_by_sentence=[]
    for each_headline in headlines:
        article_score=[]
        sentiment_by_sentence.append(sid.polarity_scores(each_headline)["compound"])
        for each_word in each_headline.split(' '):
            if each_word == None:
                continue
            else:
                # print(f'{each_word}-{sid.polarity_scores(each_word)}')
                article_score.append(sid.polarity_scores(each_word)["compound"])
                # 
        sentiment_by_word.append(sum(article_score) / len(article_score))
        # print(article_score)
        # print('-'*20)
    return sentiment_by_word, sentiment_by_sentence

In [9]:
july = getHeadlines(julb, jule)

In [10]:
results=headline_sentiment_summarizer_avg(july['headline'])
july['sent_by_word_score']=results[0]
july['sent_by_sentence_score']=results[1]

In [11]:
july.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Investors Use Indexes to Play in the Video Gam...,2019-07-12T12:00:06+0000,0.034000,0.3400
1,2,"S&P 500 Touches 3,000 as Investors See Rate Cu...",2019-07-10T14:21:49+0000,-0.024667,-0.2960
2,3,How the Department of Defense Bankrolled Silic...,2019-07-09T09:00:14+0000,0.016000,0.1280
3,4,"Chanda Wong, Christopher Nickelson",2019-07-07T04:30:01+0000,0.000000,0.0000
4,5,"A Failure Here, Damaged Fiber There and a Day ...",2019-07-03T00:42:03+0000,-0.079250,-0.7351

In [12]:
june = getHeadlines(junb, june)

In [13]:
results=headline_sentiment_summarizer_avg(june['headline'])
june['sent_by_word_score']=results[0]
june['sent_by_sentence_score']=results[1]

In [14]:
june.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,China Summons Tech Giants to Warn Against Coop...,2019-06-08T06:12:31+0000,-0.060009,-0.6124
1,2,"Slack Stock Soars, Putting Company’s Public Va...",2019-06-20T16:19:04+0000,0.034000,0.3400
2,3,Letter of Recommendation: Bug Fixes,2019-06-11T09:00:04+0000,0.000000,0.0000
3,4,Election Rules Are an Obstacle to Cybersecurit...,2019-06-06T09:00:08+0000,-0.036120,-0.3612
4,5,"Ben Horvath, Andrew Begel",2019-06-30T04:15:01+0000,0.000000,0.0000

In [16]:
august = getHeadlines(augb, auge)

In [17]:
results=headline_sentiment_summarizer_avg(august['headline'])
august['sent_by_word_score']=results[0]
august['sent_by_sentence_score']=results[1]

In [18]:
august.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Is Spam Trying to Tell Us Something?,2019-08-20T20:40:33+0000,-0.051600,-0.3612
1,2,"Dear Tech Workers, U.S. Service Members Need Y...",2019-08-28T10:00:05+0000,0.087078,0.6486
2,3,"Make Your Own Animated Movies, Frame by Frame",2019-08-07T13:00:08+0000,0.000000,0.0000
3,4,DealBook Briefing: Les Wexner Says Jeffrey Eps...,2019-08-08T09:58:22+0000,0.000000,0.0000
4,5,A.I. Is Learning From Humans. Many Humans.,2019-08-16T15:51:11+0000,0.000000,0.0000

In [20]:
september = getHeadlines(sepb, sepe)

In [21]:
results=headline_sentiment_summarizer_avg(september['headline'])
september['sent_by_word_score']=results[0]
september['sent_by_sentence_score']=results[1]

In [22]:
september.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Can You Draw This? Of Course You Can,2019-09-04T13:00:12+0000,0.000000,0.0000
1,2,China Lifts Tariffs on Some U.S. Goods in Mode...,2019-09-11T07:01:26+0000,0.000000,0.0000
2,3,The Inventions That Build a Better World,2019-09-06T10:05:48+0000,0.062914,0.4404
3,4,"When Apps Get Your Medical Data, Your Privacy ...",2019-09-03T07:00:04+0000,0.000000,0.0000
4,5,A Breakthrough for A.I. Technology: Passing an...,2019-09-04T09:00:10+0000,0.000000,0.0000

In [25]:
october = getHeadlines(octb, octe)

In [26]:
results=headline_sentiment_summarizer_avg(october['headline'])
october['sent_by_word_score']=results[0]
october['sent_by_sentence_score']=results[1]

In [27]:
october.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Google Wants Safeguards for Information in Ant...,2019-10-31T23:12:28+0000,-0.005225,-0.0516
1,2,The Luxury Battle Brewing Over Tiffany,2019-10-28T10:34:24+0000,-0.063633,-0.3818
2,3,Hating Comic Sans Is Not a Personality,2019-10-09T09:00:18+0000,-0.072943,-0.5106
3,4,Fund Managers Try Financial Planning as Indexi...,2019-10-11T09:00:15+0000,0.016044,0.1779
4,5,"Typhoon Hagibis, Islamic State, Hong Kong: You...",2019-10-13T20:14:18+0000,0.000000,0.0000

In [29]:
november = getHeadlines(novb, nove)

In [30]:
results=headline_sentiment_summarizer_avg(november['headline'])
november['sent_by_word_score']=results[0]
november['sent_by_sentence_score']=results[1]

In [31]:
november.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Bill Gates Objects to Elizabeth Warren’s Wealt...,2019-11-07T15:36:12+0000,0.037992,0.4939
1,2,The Billionaires Are Getting Nervous,2019-11-08T11:00:10+0000,-0.054640,-0.2732
2,3,"DealBook: U.S. Companies, Ranked by What Ameri...",2019-11-12T11:14:31+0000,0.042500,0.3400
3,4,Google to Store and Analyze Millions of Health...,2019-11-12T00:34:36+0000,0.000000,0.0000
4,5,What if You Had a Four-Day Week? Why Don’t You?,2019-11-08T11:00:11+0000,0.000000,0.0000

In [33]:
december = getHeadlines(decb, dece)

In [34]:
results=headline_sentiment_summarizer_avg(december['headline'])
december['sent_by_word_score']=results[0]
december['sent_by_sentence_score']=results[1]

In [35]:
december.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Stocks Are on the Verge of the Best Year Since...,2019-12-27T20:57:14+0000,0.057900,0.6369
1,2,Era Ends for Google as Founders Step Aside Fro...,2019-12-03T21:47:40+0000,0.000000,0.0000
2,3,"Twelve Million Phones, One Dataset, Zero Privacy",2019-12-19T10:01:03+0000,0.000000,0.0000
3,4,There Is a Reason Tech Isn’t Safe,2019-12-13T11:00:07+0000,0.062914,0.4404
4,5,University of Phoenix Cancels $141 Million in ...,2019-12-10T20:34:42+0000,-0.053409,-0.5267

In [36]:
microsoft_months = pd.concat([june, july, august, september, october, november, december])

In [37]:
microsoft_months.to_pickle('MicrosoftSentimentMonths.pickle')

In [ ]:
# df.to_pickle('AppleSentiment.pickle')