In [1]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd

In [2]:
os.listdir()

['Tesla_sentiment_NYT.ipynb',
 'NYT_sentiment_Tesla.ipynb',
 '.DS_Store',
 'NYT_sentimentTesla.ipynb',
 'NYT_sentiment_Apple.ipynb',
 'Apple_sentiment_NYT.ipynb',
 'NYT_sentiment_Microsoft.ipynb',
 'AppleSentimentMonths.pickle',
 'FinTechHomework',
 'NYT_sentimentMicrosoft.ipynb',
 '.env',
 'AppleSentiment.pickle',
 '05-Stu_Correlating_Returns',
 'TeslaSentiment.pickle',
 '.ipynb_checkpoints',
 'NYT_sentimentAMD.ipynb',
 'Microsoft_sentiment_NYT.ipynb',
 'choice_df.csv',
 'MicrosoftSentiment.pickle']

In [3]:
load_dotenv()

True

In [4]:
NYT_API=os.getenv('NYT_API')

In [6]:
topic='Tesla'
url=f'https://api.nytimes.com/svc/search/v2/articlesearch.json?q={topic}&api-key={NYT_API}'
response=requests.get(url)
data=response.json()['response']['docs'][0]

In [7]:
junb= '20190601'
june= '20190630'
julb= '20190701'
jule= '20190731'
augb= '20190801'
auge= '20190830'
sepb= '20190901'
sepe= '20190930'
octb= '20191001'
octe= '20191031'
novb= '20191101'
nove= '20191130'
decb= '20191201'
dece= '20191231'

In [8]:
def getHeadlines(start,end):
    headlines=[]
    i=1
    max_results=100
    topic='Tesla'
    # begin_date=20120101&end_date=20121231
    beg_date=start
    end_date=end
    for n in range(1, int(max_results/10)): 
        url=f'https://api.nytimes.com/svc/search/v2/articlesearch.json?q={topic}&api-key={NYT_API}&page={n}&begin_date={beg_date}&end_date={end_date}'
        response=requests.get(url)
        data=response.json()
        article_list=data['response']['docs']
        for each_article in article_list: 
            article_dict={}
            article_dict['item']=i
            article_dict['headline']=each_article['headline']['main']
            article_dict['pub_date']=each_article['pub_date']
            headlines.append(article_dict)
            i=i+1
    df = pd.DataFrame(headlines)
    return df

In [9]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Instantiate SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

# Create function that computes average compound sentiment of headlines for each day
def headline_sentiment_summarizer_avg(headlines):
    # print(headlines)
    sentiment_by_word=[]
    sentiment_by_sentence=[]
    for each_headline in headlines:
        article_score=[]
        sentiment_by_sentence.append(sid.polarity_scores(each_headline)["compound"])
        for each_word in each_headline.split(' '):
            if each_word == None:
                continue
            else:
                # print(f'{each_word}-{sid.polarity_scores(each_word)}')
                article_score.append(sid.polarity_scores(each_word)["compound"])
                # 
        sentiment_by_word.append(sum(article_score) / len(article_score))
        # print(article_score)
        # print('-'*20)
    return sentiment_by_word, sentiment_by_sentence

In [10]:
july = getHeadlines(julb, jule)

In [11]:
results=headline_sentiment_summarizer_avg(july['headline'])
july['sent_by_word_score']=results[0]
july['sent_by_sentence_score']=results[1]

In [12]:
july.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,The Week in Business: Nike Faces a Sneaker Cri...,2019-07-06T17:02:36+0000,0.000000,0.0000
1,2,"Puerto Rico, Boris Johnson, India: Your Monday...",2019-07-22T21:59:51+0000,0.000000,0.0000
2,3,The Kern River Can Be Deadly. Here’s How to St...,2019-07-26T13:02:26+0000,0.040036,0.4404
3,4,"In Hong Kong Protests, Faces Become Weapons",2019-07-26T09:00:16+0000,-0.095243,-0.5859
4,5,Koch Executive’s Harassment in China Adds to F...,2019-07-11T23:00:09+0000,-0.096380,-0.7430

In [13]:
june = getHeadlines(junb, june)

In [14]:
results=headline_sentiment_summarizer_avg(june['headline'])
june['sent_by_word_score']=results[0]
june['sent_by_sentence_score']=results[1]

In [15]:
june.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Fiat Chrysler Withdraws Its Offer for Renault,2019-06-05T22:57:06+0000,0.000000,0.0000
1,2,The Car Industry Is Under Siege,2019-06-06T12:44:17+0000,0.000000,0.0000
2,3,Blue States Roll Out Aggressive Climate Strate...,2019-06-21T17:29:23+0000,-0.011777,-0.1531
3,4,DealBook Briefing: Big Tech Enters Antitrust P...,2019-06-04T10:29:32+0000,0.000000,0.0000
4,5,DealBook Briefing: Why Fiat Chrysler Nixed the...,2019-06-06T10:20:38+0000,0.000000,0.0000

In [18]:
august = getHeadlines(augb, auge)

In [19]:
results=headline_sentiment_summarizer_avg(august['headline'])
august['sent_by_word_score']=results[0]
august['sent_by_sentence_score']=results[1]

In [20]:
august.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,"A Financier’s End, and Uber Hits the Skids",2019-08-11T11:00:01+0000,0.000000,0.0000
1,2,DealBook Briefing: Could This Weekend Bring Re...,2019-08-23T10:12:20+0000,0.043336,0.4767
2,3,Germany Nears Recession and Chinese Factories ...,2019-08-14T12:12:20+0000,-0.092809,-0.7717
3,4,Seven Australians You Should Be Reading About,2019-08-16T02:59:24+0000,0.000000,0.0000
4,5,Closing of Pacific Standard and Topic Shows Pe...,2019-08-17T18:10:32+0000,0.039814,0.5574

In [22]:
september = getHeadlines(sepb, sepe)

In [23]:
results=headline_sentiment_summarizer_avg(september['headline'])
september['sent_by_word_score']=results[0]
september['sent_by_sentence_score']=results[1]

In [24]:
september.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,These High-Tech Sensors May Be the Key to Auto...,2019-09-26T10:00:05+0000,0.000000,0.0000
1,2,The Ups and Downs of Life Without Wheels of My...,2019-09-17T15:01:00+0000,0.000000,0.0000
2,3,Searching for Fall Colors? Let Me Get the Llam...,2019-09-18T09:00:03+0000,0.000000,0.0000
3,4,VW Executives and Ex-C.E.O. Are Charged With M...,2019-09-24T11:30:09+0000,-0.055367,-0.4588
4,5,The Church of Techno-Optimism,2019-09-28T18:30:05+0000,0.000000,0.0000

In [26]:
october = getHeadlines(octb, octe)

In [27]:
results=headline_sentiment_summarizer_avg(october['headline'])
october['sent_by_word_score']=results[0]
october['sent_by_sentence_score']=results[1]

In [28]:
october.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Why Quiet Cars Are Getting Louder,2019-10-24T10:00:09+0000,0.000000,0.0000
1,2,Testing Cars That Help Drivers Steer Clear of ...,2019-10-29T04:01:05+0000,0.087078,0.6486
2,3,The Twilight of the Tech Idols,2019-10-10T15:48:21+0000,0.000000,0.0000
3,4,The Week in Tech: Navigating the Chinese Minef...,2019-10-11T13:00:09+0000,0.000000,0.0000
4,5,The Steel Mill That Helped Build the American ...,2019-10-16T19:00:08+0000,0.000000,0.0000

In [30]:
november = getHeadlines(novb, nove)

In [31]:
results=headline_sentiment_summarizer_avg(november['headline'])
november['sent_by_word_score']=results[0]
november['sent_by_sentence_score']=results[1]

In [32]:
november.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Ford Wants to Sell You an Electric S.U.V. It’s...,2019-11-18T02:30:20+0000,0.000000,0.0000
1,2,McDonald’s Fires C.E.O. Over Relationship With...,2019-11-04T12:10:08+0000,0.000000,0.0000
2,3,What to Cook Tonight (Nothing!),2019-11-18T15:30:00+0000,0.000000,0.0000
3,4,"Teenager Wins $25,000 for Science Project That...",2019-11-07T14:05:39+0000,0.036933,0.4767
4,5,"Democratic Debate, Prince Andrew, National Boo...",2019-11-21T10:13:07+0000,0.045880,0.4588

In [34]:
december = getHeadlines(decb, dece)

In [35]:
results=headline_sentiment_summarizer_avg(december['headline'])
december['sent_by_word_score']=results[0]
december['sent_by_sentence_score']=results[1]

In [36]:
december.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,The Week in Business: Amazon Won Christmas,2019-12-29T12:00:07+0000,0.107114,0.6597
1,2,Gift Ideas for Car Lovers or Commuters,2019-12-11T11:00:14+0000,0.138157,0.7430
2,3,Have You Ever Tried to Make Money Online?,2019-12-02T10:00:04+0000,0.000000,0.0000
3,4,Behind a U.A.W. Crisis: Lavish Meals and Luxur...,2019-12-26T08:00:15+0000,-0.069433,-0.6249
4,5,This Man May Be Big Tech’s Biggest Threat,2019-12-08T20:25:51+0000,-0.065837,-0.5267

In [37]:
tesla_months = pd.concat([june, july, august, september, october, november, december])

In [38]:
tesla_months.to_pickle('TeslaSentimentMonths.pickle')

In [ ]:
# df.to_pickle('AppleSentiment.pickle')