In [1]:
import requests
import os
from dotenv import load_dotenv
import pandas as pd

In [2]:
os.listdir()

['NYT_sentimentApple.ipynb',
 '.DS_Store',
 'NYT_sentimentTesla.ipynb',
 'FinTechHomework',
 'NYT_sentimentMicrosoft.ipynb',
 '.env',
 'AppleSentiment.pickle',
 '05-Stu_Correlating_Returns',
 'TeslaSentiment.pickle',
 '.ipynb_checkpoints',
 'NYT_sentimentAMD.ipynb',
 'choice_df.csv',
 'MicrosoftSentiment.pickle']

In [3]:
load_dotenv()

True

In [4]:
NYT_API=os.getenv('NYT_API')

In [5]:
topic='Apple'
url=f'https://api.nytimes.com/svc/search/v2/articlesearch.json?q={topic}&api-key={NYT_API}'
response=requests.get(url)
data=response.json()['response']['docs'][0]

In [6]:
junb= '20190601'
june= '20190630'
julb= '20190701'
jule= '20190731'
augb= '20190801'
auge= '20190830'
sepb= '20190901'
sepe= '20190930'
octb= '20191001'
octe= '20191031'
novb= '20191101'
nove= '20191130'
decb= '20191201'
dece= '20191231'

In [7]:
def getHeadlines(start,end):
    headlines=[]
    i=1
    max_results=100
    topic='Apple'
    # begin_date=20120101&end_date=20121231
    beg_date=start
    end_date=end
    for n in range(1, int(max_results/10)): 
        url=f'https://api.nytimes.com/svc/search/v2/articlesearch.json?q={topic}&api-key={NYT_API}&page={n}&begin_date={beg_date}&end_date={end_date}'
        response=requests.get(url)
        data=response.json()
        article_list=data['response']['docs']
        for each_article in article_list: 
            article_dict={}
            article_dict['item']=i
            article_dict['headline']=each_article['headline']['main']
            article_dict['pub_date']=each_article['pub_date']
            headlines.append(article_dict)
            i=i+1
    df = pd.DataFrame(headlines)
    return df

In [8]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

# Instantiate SentimentIntensityAnalyzer
sid = SentimentIntensityAnalyzer()

# Create function that computes average compound sentiment of headlines for each day
def headline_sentiment_summarizer_avg(headlines):
    # print(headlines)
    sentiment_by_word=[]
    sentiment_by_sentence=[]
    for each_headline in headlines:
        article_score=[]
        sentiment_by_sentence.append(sid.polarity_scores(each_headline)["compound"])
        for each_word in each_headline.split(' '):
            if each_word == None:
                continue
            else:
                # print(f'{each_word}-{sid.polarity_scores(each_word)}')
                article_score.append(sid.polarity_scores(each_word)["compound"])
                # 
        sentiment_by_word.append(sum(article_score) / len(article_score))
        # print(article_score)
        # print('-'*20)
    return sentiment_by_word, sentiment_by_sentence

In [9]:
july = getHeadlines(julb, jule)

In [10]:
results=headline_sentiment_summarizer_avg(july['headline'])
july['sent_by_word_score']=results[0]
july['sent_by_sentence_score']=results[1]

In [11]:
july.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Beware. Other Nations Will Follow France With ...,2019-07-15T10:00:05+0000,0.0000,0.0000
1,2,Investors Use Indexes to Play in the Video Gam...,2019-07-12T12:00:06+0000,0.0340,0.3400
2,3,‘General Magic’ Review: A Startup Before Its Time,2019-07-11T11:00:08+0000,0.0000,0.0000
3,4,Negroni Mela,2019-07-03T00:00:00+0000,0.0000,0.0000
4,5,Economics Isn’t Dismal. It’s Useful.,2019-07-26T16:45:17+0000,-0.0344,-0.2732

In [13]:
june = getHeadlines(junb, june)

In [14]:
results=headline_sentiment_summarizer_avg(june['headline'])
june['sent_by_word_score']=results[0]
june['sent_by_sentence_score']=results[1]

In [15]:
june.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Taiwan’s iPhone Tycoon Walks a Fraught U.S.-Ch...,2019-06-21T07:15:34+0000,0.000000,0.0000
1,2,"To Take Down Big Tech, They First Need to Rein...",2019-06-20T09:00:11+0000,0.000000,0.0000
2,3,Inside Apple’s Earthquake-Ready Headquarters,2019-06-04T09:00:11+0000,0.000000,0.0000
3,4,"‘If You’ve Built a Chaos Factory, You Can’t Do...",2019-06-19T10:37:41+0000,-0.043992,-0.5719
4,5,Facebook Under Oath: You Have No Expectation o...,2019-06-18T19:00:02+0000,-0.032889,-0.2960

In [16]:
august = getHeadlines(augb, auge)

In [17]:
results=headline_sentiment_summarizer_avg(august['headline'])
august['sent_by_word_score']=results[0]
august['sent_by_sentence_score']=results[1]

In [18]:
august.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,"Hi, Alexa. How Do I Stop You From Listening In...",2019-08-21T09:00:15+0000,-0.024667,-0.2960
1,2,How Should Big Tech Be Reined In? Here Are 4 P...,2019-08-20T16:23:08+0000,0.026517,0.3182
2,3,China Pressures Business Over Hong Kong. Worke...,2019-08-18T17:10:57+0000,-0.026517,-0.3182
3,4,The Phony Patriots of Silicon Valley,2019-08-12T17:28:21+0000,0.000000,0.0000
4,5,Trump Has Succeeded. Now Lots of Chinese Peopl...,2019-08-09T10:00:06+0000,0.035125,0.4215

In [19]:
september = getHeadlines(sepb, sepe)

In [20]:
results=headline_sentiment_summarizer_avg(september['headline'])
september['sent_by_word_score']=results[0]
september['sent_by_sentence_score']=results[1]

In [21]:
september.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,How Apple’s Apps Topped Rivals in the App Stor...,2019-09-09T09:00:01+0000,0.000000,0.0000
1,2,E.U. Court Orders Fiat Chrysler to Pay Back $3...,2019-09-24T11:27:07+0000,-0.008558,-0.1027
2,3,Congress Asks More Than 80 Companies for Big T...,2019-09-20T23:22:16+0000,-0.040190,-0.4019
3,4,The Week in Tech: An Emerging Twist on Antitrust,2019-09-20T13:00:05+0000,0.000000,0.0000
4,5,Lawmakers Urge Aggressive Action From Regulato...,2019-09-17T23:13:22+0000,-0.017011,-0.1531

In [22]:
october = getHeadlines(octb, octe)

In [23]:
results=headline_sentiment_summarizer_avg(october['headline'])
october['sent_by_word_score']=results[0]
october['sent_by_sentence_score']=results[1]

In [24]:
october.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,"The Week in Business: A Brexit Battering, and ...",2019-10-20T11:00:06+0000,0.031500,0.3612
1,2,"In House Antitrust Hearing, Lawmakers Focus on...",2019-10-18T18:57:49+0000,-0.049390,-0.4939
2,3,Europe’s Margrethe Vestager Takes a Rare Step ...,2019-10-16T12:49:18+0000,0.000000,0.0000
3,4,The Reason Your Photos Are About to Get a Lot ...,2019-10-15T15:00:09+0000,0.040036,0.4404
4,5,Tech Giants Shift Profits to Avoid Taxes. Ther...,2019-10-09T19:58:35+0000,-0.011662,-0.1280

In [26]:
november = getHeadlines(novb, nove)

In [27]:
results=headline_sentiment_summarizer_avg(november['headline'])
november['sent_by_word_score']=results[0]
november['sent_by_sentence_score']=results[1]

In [28]:
november.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,Apple Card Investigated After Gender Discrimin...,2019-11-10T19:06:42+0000,-0.057414,-0.4019
1,2,Apple Commits $2.5 Billion to Ease California ...,2019-11-04T11:36:20+0000,0.043000,0.3818
2,3,Review: M. Night Shyamalan’s Thanksgiving Feas...,2019-11-28T13:00:09+0000,0.000000,0.0000
3,4,Don’t Blame Tech Bros for the Housing Crisis,2019-11-30T19:30:09+0000,-0.120613,-0.7579
4,5,How We Created a ‘Turducken’ of Media News,2019-11-30T17:14:49+0000,0.031250,0.2500

In [29]:
december = getHeadlines(decb, dece)

In [30]:
results=headline_sentiment_summarizer_avg(december['headline'])
december['sent_by_word_score']=results[0]
december['sent_by_sentence_score']=results[1]

In [31]:
december.head()

,item,headline,pub_date,sent_by_word_score,sent_by_sentence_score
0,1,The Week in Tech: How Is Antitrust Enforcement...,2019-12-22T15:18:46+0000,0.000000,0.0000
1,2,"The Playlist: Taylor Swift’s Nostalgic Tune, a...",2019-12-20T19:48:53+0000,0.036536,0.4576
2,3,‘Hala’ Is the Story of a Chameleon. It Reminde...,2019-12-19T21:20:34+0000,0.000000,0.0000
3,4,The Catastrophist’s 2019 Tech Gift Guide,2019-12-18T18:07:11+0000,0.073400,0.4404
4,5,The New Pop Culture Optimism,2019-12-18T11:00:12+0000,0.108460,0.5423

In [34]:
apple_months = pd.concat([june, july, august, september, october, november, december])

In [36]:
apple_months.to_pickle('AppleSentimentMonths.pickle')

In [ ]:
# df.to_pickle('AppleSentiment.pickle')